
// Slate
$color-slate-50:  #f8fafc !default;
$color-slate-100: #f1f5f9 !default;
$color-slate-200: #e2e8f0 !default;
$color-slate-300: #cbd5e1 !default;
$color-slate-400: #94a3b8 !default;
$color-slate-500: #64748b !default;
$color-slate-600: #475569 !default;
$color-slate-700: #334155 !default;
$color-slate-800: #1e293b !default;
$color-slate-900: #0f172a !default;
$color-slate-950: #020617 !default;

// Gray

$color-gray-50:  #f9fafb !default;
$color-gray-100: #f3f4f6 !default;
$color-gray-200: #e5e7eb !default;
$color-gray-300: #d1d5db !default;
$color-gray-400: #9ca3af !default;
$color-gray-500: #6b7280 !default;
$color-gray-600: #4b5563 !default;
$color-gray-700: #374151 !default;
$color-gray-800: #1f2937 !default;
$color-gray-900: #111827 !default;
$color-gray-950: #030712 !default;

// Zink

$color-zink-50:  #fafafa !default;
$color-zink-100: #f4f4f5 !default;
$color-zink-200: #e4e4e7 !default;
$color-zink-300: #d4d4d8 !default;
$color-zink-400: #a1a1aa !default;
$color-zink-500: #71717a !default;
$color-zink-600: #52525b !default;
$color-zink-700: #3f3f46 !default;
$color-zink-800: #27272a !default;
$color-zink-900: #18181b !default;
$color-zink-950: #09090b !default;

// Red

$color-red-50 : #fef2f2 !default;
$color-red-100: #fee2e2 !default;
$color-red-200: #fecaca !default;
$color-red-300: #fca5a5 !default;
$color-red-400: #f87171 !default;
$color-red-500: #ef4444 !default;
$color-red-600: #dc2626 !default;
$color-red-700: #b91c1c !default;
$color-red-800: #991b1b !default;
$color-red-900: #7f1d1d !default;
$color-red-950: #450a0a !default;

// Blue

$color-blue-50:  #eff6ff !default;
$color-blue-100: #dbeafe !default;
$color-blue-200: #bfdbfe !default;
$color-blue-300: #93c5fd !default;
$color-blue-400: #60a5fa !default;
$color-blue-500: #3b82f6 !default;
$color-blue-600: #2563eb !default;
$color-blue-700: #1d4ed8 !default;
$color-blue-800: #1e40af !default;
$color-blue-900: #1e3a8a !default;
$color-blue-950: #172554 !default;

// Green


$color-green-50:  #f0fdf4 !default;
$color-green-100: #dcfce7 !default;
$color-green-200: #bbf7d0 !default;
$color-green-300: #86efac !default;
$color-green-400: #4ade80 !default;
$color-green-500: #22c55e !default;
$color-green-600: #16a34a !default;
$color-green-700: #15803d !default;
$color-green-800: #166534 !default;
$color-green-900: #14532d !default;
$color-green-950: #052e16 !default;

// Yellow

$color-yellow-50:  #fffbeb !default;
$color-yellow-100: #fef3c7 !default;
$color-yellow-200: #fde68a !default;
$color-yellow-300: #fcd34d !default;
$color-yellow-400: #fbbf24 !default;
$color-yellow-500: #f59e0b !default;
$color-yellow-600: #d97706 !default;
$color-yellow-700: #b45309 !default;
$color-yellow-800: #92400e !default;
$color-yellow-900: #78350f !default;
$color-yellow-950: #451a03 !default;

