.blog-post {
    @extend .section;

    &-header {
        margin-bottom: $spacing-unit;
    }

    &-title {
        font-size: $font-size-xl;
        letter-spacing: -1px;
        line-height: 1;
        @include media-query($on-laptop) {
            font-size: $font-size-xl;
        }
    }

    &-meta {
        display: block;
        font-size: $font-size-sm;
        color: $post-meta-color;

        &-item {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 1em;
            }
        }

        .icon > svg {
            margin-right: .4em;
        }
    }

    &-content {
        margin-top: 1em;

        h1 {
            font-size: $font-size-xl;
        }

        h2 {
            font-size: $font-size-lg;
        }

        h3 {
            font-size: $font-size-md;
        }
    }
}
